*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
html{
    scroll-behavior: smooth;
}
/*******************************************    MENU NAVBAR ***************************************************/

.header{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 13px 14px -9px rgba(0, 0, 0, 0.274);
}
.nav{    
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    
}

.header-submenu-container{
    background-color: #fad2e6;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-submenu{
    text-align: right;
    width: 70%;
   
}
.header-submenu a {
   margin-right: 2em;
   text-decoration: none;
   color: white;
}

.nav-link{
    color:black;
    text-decoration: none;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 90px;
    line-height: 70px; 
    font-family: 'Abhaya Libre', serif; 
}
.nav-menu{
    display: flex;
    margin-right: 90px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 5px;
    line-height: 70px;
    text-transform: uppercase;
    width: max-content;
    font-family: 'Abhaya Libre', serif; 
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;

}
.nav-menu-link:hover,nav-menu-link_active{
    background-color: #df579b49;
    transition: 0.5s; 
}
.nav-toggle {
    color: black;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;

}


.title-productos {
    margin: 2em 0em;
}

.products-container{
    width: 100%;
    display: flex;       
    flex-wrap: wrap; 
    justify-content: center;   
    padding: 2em;
}
.products-container div{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
   
}
.product-img{
    display: flex;   
    justify-content: center;
    align-items: center;
    margin: 1em;
    
}
.product-img p {
    margin-right: 2em;
}
.product-img button{
    width: 150px;
    height: 25px;
}


.conteiner-cart-products{
    width: 40%;
    height: auto;
    margin: 10em 0em;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    flex-direction: column;
}
.title-cart{
    width: 80%;
    height:5em;
    display: flex;
    justify-content: center;
    align-items: center;   
    border-bottom: 2px solid #df579b;  
    
}
.title-cart h3{
    font-size: 1.5em;
}
.cart-products{
    width: 80%;
    height: auto;
}
.cart-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn{
    width: 150px;
    height: 30px;
    font-size: 1em;
    cursor: pointer;
    color: #fd58ab;
    background-color: rgba(255, 175, 208, 0.219);
    border: 1px solid #fd58ab;
    border-radius: 5px;
    margin: 1em;  
}
.btn:hover{
    background-color: #f895c6;
    color: black;
}

.buy-btn{
    font-size: 1em;
    padding: .2em;
    margin: 1em;
    cursor: pointer;
}

footer{
    width: 100%;
    display: flex;   
    justify-content: space-between;    
    background-color: #f8cfe4;
}

.contacto-subscrition{
    margin:2em;
}
.subscription{
    display: flex;
    margin-top: .5em;    
}
.subscription input{
    margin-left: 1em;
    
}
.container-info-footer{
    display: flex;
    align-items: center;
    margin-right: 3em;
}

.container-info-footer .copyright{
    margin-right: 2em;
}
.container-info-footer .redesSociales a i{
    margin-right: .5em;
}


@media (min-width: 1024px) and (max-width: 1450px) {
 
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: var(--celeste); 
        position: fixed;  
        left: 0;
        top: 60px;
        width: 100%;     

        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item{       
        line-height: 70px;   
    }
    
    .nav-menu-link:hover, nav-menu-link_active
    {   background:none;
        color:rgb(15, 95, 116);
      
    }
    .nav-toggle{
        display: block;
    }   
    .nav-menu_visible {
        left: 0;
    }

   

    
    
}

@media (min-width: 768px) and (max-width: 1023px) {
    input{
        display: inline-block;
        flex-wrap: wrap;
        width: 10em;
        margin: 0;
    }

    .container-input-1 input {
        width: 18em;
        height: 7em;
    }
    .logo {
        font-size: 25px;
        font-weight: bold;
        padding: 0 20px;
        line-height: 60px;  
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: var(--celeste); 
        position: fixed;  
        left: 0;
        top: 60px;
        width: 100%;     
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item{       
        line-height: 70px;   
    }
    
    .nav-menu-link:hover, nav-menu-link_active
    {   background:none;
        color:rgb(15, 95, 116);
    }
    .nav-toggle{
        display: block;
    }   
    .nav-menu_visible {
        left: 0;
    }

    
}

@media (min-width: 300px) and (max-width:767px) {
    body{
        padding-top: 70px;
    }
    .header{
        height: 80px;
    }

    .portada {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .portada img{      
        width:100%;
        object-fit: cover;
        
    }
    .portada-info { 
        width: 100%;
        height: auto;
        background-color:white;
        color: rgb(234 163 181);
        display: flex;
        justify-content: center;       
        align-items: center;
        font-size: 2em;
        padding: 1em;
    }

   
    .logo {
        font-size:20px;
        font-weight: bold;
        padding: 0 0px;
        line-height: 55px;  
    }
    .nav{    
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
        background-color: #df579b; 
        position: fixed;  
        left: 0;
        top: 80px;
        width: 100%; 
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item{       
        line-height: 70px;   
    }
    
    .nav-menu-link:hover, nav-menu-link_active
    {   background: none;
       
        color:rgb(15, 95, 116);
      
    }
    .nav-toggle{
        display: block;
       
    }   
    .nav-menu_visible {
        left: 0;
    }


.container-info-footer{
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.copyright h5{
    font-size: 0.7em;
    margin: 0.5em;
}

.header{
    width: 100vw;
}
}